.containerMerc {
    width: 500px;
    height: 500px;
    background-color: yellow;
}

.containerEbay{
    width: 500px;
    height: 500px;
    background-color: yellow;

}

.container {
    display: inline-block;
}

#maincontainer {
    display: block;
}