/*15/7/22*/
/**--------login and register------------**/
.login_box{
    background-color: rgba(0, 0, 0, 0.652);
    max-width: 500px;
    height: auto;
    width: 100%;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%);
    border: #f39c12 solid 2px;
    border-radius: 20px;

}
.iner{
    display: grid;
    place-content: center;
    width: 100%;
    height: 100%;
}

.iner h1{
    color: white;
    text-align: center;
    display: block;
    padding-bottom: 20px;
}
.ask{
    display: grid;
    width: 350px;
    padding-bottom: 20px;
    border: red solid 2px;
}
.ask input , label{
    text-align: center;
    margin-top: 10px;
}
.ask label{
    color: white;
    font-size: 15px;
    font-weight: 100;
}
.ask input{
    height: 35px;
    width: auto;
    border-radius: 10px;
    border: none;
}
.logview{
    display: none;
}
#boton{
    transform: translate(-50%);
    margin-left: 50%;
    margin-top: 20px;
    width: 100px;
    height: auto;
    background-color: #f39c12;
    text-align: center;
    color: white;
}
.log_container{
}

#login{

}
#register{

}
.showl{
    transform: translateY(-700px);
    transition: transform 2s;
}
.showr{
    
}