#pagina{
  background-color: rgba(225, 223, 223, 0.439);
}
#barra {
  max-width: 150px;
  text-align: left;
  position: absolute;
}
#nav {
  max-width: 1000px;
  padding-right: inherit;
  margin-right: auto;
}
#colu {
  max-width: initial;
}
#nombre {
  max-width: 500px;
}
#boton {
  color: #fff;
}
#h1{
  background-color: #3D3B3B;
  max-width: 500;
  text-align: center;
  border-radius: 15px;
}
#icono{
  max-width: 40px;
  max-height: 40px;
}
#r1{
  background-color: #041885;
  margin-top: 15px;
  text-align: center;
  border-radius: 20px;
}
#logo{
  max-width: 40;  max-height: 40;
}
#fondol{
  background-image: url(../img/fondo.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: silver;
}
#one{
  background-color: rgba(0, 0, 0, 0.652);
}
.loginbox{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -265px;
  margin-top: -150px;
}
.cabeza{
  background-repeat: no-repeat;
  background-size: contain;
  /**background-attachment: fixed;**/
  background-position: center;
  width: 100%;
  height: 75vh;
}
.cabeza h3 {
  color: #fff;
  font-family: "Roboto",sans-serif;
  font-size: 61px;
  font-weight: bold;
  left: 30%;
  position: absolute;
  top: 45%;
}
.bode{
  background-image: url(../img/nis/idea2.png);
  background-size: 300px;
  background-attachment: fixed;
  background-color: #424242;
}
.way {
  position: absolute;
  top: 900px;
  width: 100%;
  height: 200px;
  margin-top: -150px;
  background-image: linear-gradient(#424242, whitesmoke 70%);
}
.logu{
  background-image: url(../img/nis/carritoboceto.png);
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 700px;
  position: absolute;
  top: 200px;
  right: 50px;
  z-index: 1;
}
.logo{
  text-align: center;

}
.cont{
  background-image: linear-gradient(silver, #424242);
}
.our_skill{
  background-color: whitesmoke;
}
.features{
  background-color: whitesmoke;
}
.team{
  background-image: linear-gradient( whitesmoke, #252525 50%);
}


/**---------buscador--------------**/
/**--------index-----------**/
.search-bar{
  border-radius: 50px;
  width: 450px;
  height: 200px;
  position: absolute;
  top: 400px;
  left: 350px;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.65);
}
.search-bar h1{
  color: red;
}
.search-bar .search{
  /**margin-top: 50px;**/
  width: 400px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
}
.search-bar .sutmit{
  margin-left: 20px;margin-right: 20px;
  margin-top: 10px;
  height: 25px;
  width: 75px;
}

.accon{
  display: inline;
  margin-left: 5px;
}
.En{
  background-color: greenyellow;
  vertical-align: middle;
  background-color: green;
  height: 30px;
  width: 60px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.filtro{
  width: 70px;
  text-align: center;
}
/**search bar**/

.searchbar{
  position: relative;
  top: 40px;
  left: 100px;
}
.boton{
  vertical-align: middle;
  background-color: green;
  height: 24px;
  width: 30px;
  border: none;
  border-radius: 5px;
}
.search{
  border-radius: 5px;
  height: 24px;
}

/**-------vista de producos-------**/
#cajaGrande{
  display:flex;
  border:1px solid black;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 1000px;
  background-color: antiquewhite;
}
#mercadolibre{
  width: 50%;
}
.containerMerc{
  min-width: 200px;
}
.ebay{
  width: 50%;
}
.containerEbay{
  min-width: 200px;
}
.filter{
  background-color: white;
  width: 200px;
  margin-left: 10px;
}

/*--------Acconut------*/

.dobe{
  border: black 2px solid;
  border-radius: 20px;
  box-shadow: -15px 10px 5px   #000000;
  background-color: whitesmoke;
  width: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  height: auto;
  transform: translate(-50%,-0%);
  margin-top: 5%;
  margin-bottom: 5%;
}
.inerdobe{
  background-color: whitesmoke;
  margin: 20px;
  width: auto;
}
.change{
  display: grid;
  place-items: center;
  border: black solid 1px;
  background-color: azure;
  border-radius: 15px;
}

.inerdobe input{
  display: flex;
  width: 350px;
  border-radius: 5px;
  border: 1px black solid;
}
.inerdobe label{
  margin-top: 10px;
}
.imgperf{
  display: inline-flex;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}
.imgperf h1{
  text-align: center;
}
#imgperf{
  border-radius: 50%;
  display: block;
  max-width: 300px;
  max-height: 300px;
}
.password{
  margin-top: 50px;
  margin-bottom: 20px;
}


/*--modal--*/
