/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }
  
  .row li {
    width: 33.3%;
    float: left;
  }
  
  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }  