/**-------vista de producos-------**/
.cajaGrande{
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: minmax(100px, auto);
  }
.productos{
  grid-column: 2 / 3;
  grid-row: 1;
  
 
 }
#mercadolibre, .ebay{
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 20px;
  padding-top: 20px;
}
.ad1{  
  grid-column: 1;
  grid-row: 1;
}
.ad2{
  grid-column: 3;
  grid-row: 1;
}
/* .ads{
  /* border: 2px red solid;
  background-image: url(../img/nis/idea1.png);
  background-size: 200px;
  background-attachment: fixed;
  background-position: center;
} */
.containerMerc, .containerEbay{
  text-align: center;
  border: 1px rgb(0,111,230) solid;
  box-shadow: 0px 5px 10px; 
  cursor: default;
  transition: all 200ms ease;
  background-color: white;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(100px,auto); */
}
.containerMerc:hover{
    transform: scale(110%);
}
.containerEbay:hover{
    transform: scale(110%);
}
.imgPrincipal{
  border: red 2px solid;
  max-width: 300px;
  max-height: 300px;
  width: 100%;
}
/* .bode{
  background-image: url(../img/nis/idea2.png);
  background-size: 300px;
  background-attachment: fixed;
  background-color: #424242;
} */
.option{
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 5px;
  background-image: url(../img/nis/MLicon.png);
}
